<html>
    <head>
        <title> Wan - Order </title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="nav-menu">
            <a class="icon-btn" href="/menu/fr/all">
                <img src="/resource/home.png" height="75%" alt="Menu">
            </a>
            <a class="nav-item" href="/menu/fr/category/appetizer"> Entrées </a>
            <a class="nav-item" href="/menu/fr/category/main"> Plats </a>
            <a class="nav-item" href="/menu/fr/category/dessert"> Desserts </a>
            <a class="nav-item"href="/menu/fr/category/fruit"> Fruits </a>
            <a class="nav-item"href="/menu/fr/category/cheese"> Fromage </a>
            <a class="nav-item"href="/menu/fr/all"> Tout </a>
            <a href="/menu/en/all">
            <button class="icon-btn">
                <img src="/resource/french.png" style="filter: drop-shadow(0px 11px 11px #7a7979 );"  height="75%" alt="Menu">
            </button>
            </a>
        </div>

        <div id="items">
            <div id="top-bar"> 
                <button class="icon-btn">
                    <img src="/resource/filter.png" height="75%" alt="Menu">
                </button>
                <a href="user_page.html">
                    <button class="icon-btn">
                        Compte
                    <img src="/resource/profile.png" height="75%" alt="Menu">
                    </button>
                    </a>
            </div>

              {{#each items}}
            <a class="item" href="/menu/fr/name/{{name}}">
            <div class="item-photo">
                <img src="{{image}}" alt="{{name}}">
            </div>
            <p>
                {{name}} <br>
                {{price}}€
            </p>
            </a>
            {{/each}}
            
        </div>

        <div id="cart">
                    <img src="/resource/cart.png" height="50%" alt="Menu">
                    Panier 
                    <div id="cart-nbr">
            </div>
    </body>
</html>